integer(int): is a whole number without decimal point

In [1]:
age = 35
new_age = age + 5
print(f"after 5 years age will be {new_age}")

after 5 years age will be 40

STRING:A STRING IS TEXT ANY LETTERS ,NUMBER OR SYMBOLS WRITTEN INSIDE QUOTES""

In [3]:
name = "musa awan"
greeting = "good morning! wellcome musa awan have a nice day"
print(greeting)

good morning! wellcome musa awan have a nice day

float is a number with decimal point

In [4]:
temperature = 46.55
print(f"todays temperature is {temperature}")

todays temperature is 46.55

In [6]:
height_feet = 5.11
print(f"my height is {height_feet} feet")

my height is 5.11 feet

In [8]:
item = "book"
quantity = 5
price = 12.55
total_cost = quantity * price
print(f"bought {quantity} {item} for total cost $ {total_cost}")

bought 5 book for total cost $ 62.75

In [ ]:
item =  input("football")
quantity = int(input(7))
price = float(input(20.5))
total_cost = quantity * price
print(f"bought {quantity} {item} for total cost $ {total_cost}")

bought 3 football for total cost $ 360